body {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #9ED8DB;
}

.calculator {
    align-self: center;
    width: 400px;
    height: 500px;
    border: 1px solid black;
}

.calculator .screen-output {
    font-family: "Calculator", Calculator, sans-serif;
    font-size: 50px;
    font-weight: normal;
    display: flex;
    justify-content: flex-end;
    height: 50px;
    border: 2px solid green;
    border-radius: 2px;
    margin: 5px;
    align-items: center;
}

.calculator .buttons-layout {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.buttons-layout .num-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons-layout .func-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20px;
}

.num-column button {
    height: 75px;
    width: 75px;
    margin: 15px 10px;
    box-shadow: none;
    border: 2px solid black;
    border-radius: 4px;
}

.func-column button {
    height: 50px;
    width: 50px;
    margin: 5px;
    box-shadow: none;
    border: 2px solid black;
    border-radius: 4px;
}

.num-column button.long {
    width: 150px;
    margin-right: -75px;
}

.num-column.no-bottom-row {
    justify-content: flex-start;
}



